#home.page {
  background-color: $blue-5;
  background-image: url('#{$cdn}/images/admin/terrain-contour-pattern.svg');
  display: flex;
  justify-content: center;
  align-items: center;
  .liner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
  }
  .left {
    display: flex;
    align-items: center;
    margin-right: 30px;
    @include mobile {
      flex-direction: column;
      margin: 0;
    }
    img {
      width: 60px;
      height: auto;
      border-radius: 2px;
    }
    p {
      font-size: 16px;
      margin-left: 30px;
      color: white;
      @include mobile {
        flex-direction: column;
        margin: 30px 0;
      }
    }
  }
}
