<Page @id="home">
  <Section>
    <div class="left">
      <img
        src={{concat (cdn) "/images/logos/primary-interflux-electronics-symbol-1.svg"}}
        width="100"
        height="100"
        alt="interflux electronics"
      >
      <p>Welcome to <strong>Interflux Admin</strong></p>
    </div>

    <div class="right">
      <Button
        @route="login"
        @text="Log in"
        @theme="tertiary"
        @icon="chevron-right"
      />
    </div>
  </Section>
</Page>