#quality {
  .box > .icon {
    display: flex;
    align-items: flex-start;
    padding: 0 40px 40px;
    a {
      width: 60%;
    }
    a + a {
      width: 15%;
      margin-left: 20px;
    }
  }
}
