.tabs {
  nav.path {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 26px;
    gap: 26px;
    border-bottom: 1px solid $grey-2;
    h1 {
      margin-right: 13px;
    }
    a {
      height: 28px;
      line-height: 28px;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px;
      padding: 0 12px;
      transition: all 300ms $easeOutExpo;
      &.idle {
        color: $grey-7;
        border-color: transparent;
        background-color: transparent;
      }
      &.active {
        color: white;
        border-color: $blue-1;
        background-color: $blue-0;
        border-color: $blue-1;
        font-family: $semibold;
      }
    }
  }
  article {
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 810px;
    margin: 0 auto;
    nav.params {
      display: flex;
      gap: 12px;
    }
    .text {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}
