#modal {
  > .overlay {
    position: fixed;
    background: rgba($blue-5, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    > a {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  > .content {
    position: relative; // <main> becomes fixed
    top: 0;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; // So the overlay below can be clicked
    > p {
      color: white;
    }
    > .box {
      width: 500px; // Too opinionated
      max-width: 100%;
      min-height: 100px;
      pointer-events: all; // So the overlay below doesn't get clicked when user interacts within white box
      background: white;
      padding-bottom: 40px;
      > h1 {
        font-family: $extrabold;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        padding: 34px;
      }
      > h2 {
        font-family: $semibold;
        font-size: 15px;
        line-height: 130%;
        padding: 22px;
        color: #8c8c8c;
        background: #eeeeee;
        text-align: center;
      }
      > p {
        padding: 40px;
        font-size: 16px;
        line-height: 24px;
      }
      p > a,
      label > a {
        text-decoration: underline;
        color: $blue-0;
        background: white;
        outline: 0;
        border-radius: 3px;
        white-space: nowrap;
        &:hover {
          color: $orange-3;
        }
        &:focus {
          color: $blue-0;
          box-shadow: white 0 0 0 1px, 0 0 0 3px $blue-0;
        }
      }
      > fieldset {
        padding: 15px 40px;
      }
      > figure {
        max-width: 100%;
        height: auto;
      }
      > figure + h2 {
        margin-top: 4px;
      }
      > h2 + fieldset {
        margin-top: 30px;
      }
      > fieldset + h2 {
        margin-top: 30px;
      }
      ul.list {
        padding: 40px;
        li {
          line-height: 30px;
        }
      }
    }
  }
}
