#modal {
  > .overlay {
    position: fixed;
    background: rgba($blue-5, 0.8);
    width: 100vw;
    height: 100vh;
    top: 0;
    > a {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  > .content {
    position: relative; // <main> becomes fixed
    top: 0;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; // So the overlay below can be clicked
    > p {
      color: white;
    }
    > .box {
      width: 500px; // Too opinionated
      max-width: 100%;
      min-height: 100px;
      pointer-events: all; // So the overlay below doesn't get clicked when user interacts within white box
      background: white;
      padding-bottom: 40px;
      &.error {
        padding-top: 40px;
        text-align: center;
        svg {
          width: 30px;
          height: 30px;
          margin-bottom: 20px;
        }
      }
      > h1 {
        font-family: $extrabold;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        padding: 34px;
      }
      > h2 {
        font-family: $semibold;
        font-size: 15px;
        line-height: 130%;
        padding: 22px;
        color: #8c8c8c;
        background: #eeeeee;
        text-align: center;
      }
      // <h3> looks like <label>
      > h3 {
        font-family: $bold;
        font-size: 16px;
        line-height: 150%;
        color: $grey-7;
        cursor: pointer;
        user-select: none;
        letter-spacing: 0.2px;
        padding: 20px 40px 16px;
      }
      > p {
        padding: 0 40px;
        font-size: 16px;
        line-height: 24px;
      }
      > p + p {
        margin-top: 16px;
      }
      > p > a,
      label > a {
        text-decoration: underline;
        color: $blue-0;
        background: white;
        outline: 0;
        border-radius: 3px;
        // white-space: nowrap;
        &:hover {
          color: $orange-3;
        }
        &:focus {
          color: $blue-0;
          box-shadow: white 0 0 0 1px, 0 0 0 3px $blue-0;
        }
      }
      > fieldset {
        padding: 16px 40px;
      }
      > figure {
        max-width: 100%;
        height: auto;
      }
      > figure + h2 {
        margin-top: 10px;
      }
      > h2 + fieldset {
        margin-top: 30px;
      }
      > fieldset + h2 {
        margin-top: 30px;
      }
      > p + fieldset {
        margin-top: 12px;
      }
      > fieldset + p {
        margin-top: 12px;
      }
      h2 + p {
        margin-top: 40px;
      }
      p + h2 {
        margin-top: 40px;
      }
      h2 + h3 {
        padding-top: 40px;
      }
      > button {
        margin: 0 40px;
      }
      > fieldset + button {
        margin-top: 12px;
      }
      > ul.list {
        padding: 0 40px 20px;
      }
      > ul.list + h2 {
        margin-top: 20px;
      }
      ul.list {
        &.can-sort-list {
          &.is-dragging {
            cursor: grabbing;
            .dropzone {
              display: flex; // dropzones become hoverable
            }
          }
          li {
            position: relative;
            cursor: grab;
            &:active {
              cursor: grabbing;
              z-index: 1;
              outline: 1px solid $blue-0;
              outline-offset: -1px;
            }

            &.dragee {
              background: $grey-0 !important;
              a,
              .right {
                display: none !important;
              }
            }
            .rank {
              width: 36px;
              height: 36px;
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                background: #eee;
                font-size: 14px;
                height: 18px;
                line-height: 20px;
                text-align: center;
                padding: 0 4px;
              }
            }
            .dropzone {
              display: none; // hide unless dragging
              position: absolute;
              width: 100%;
              height: 40px;
              left: 0;
              align-items: center;
              &.top {
                top: -20px;
              }
              &.bottom {
                bottom: -20px;
              }
              &.active {
                .line {
                  opacity: 1;
                }
              }
              .line {
                height: 1px;
                width: calc(100% - 2px);
                transform: translateX(1px);
                background: $blue-0;
                outline: 2px solid $blue-0;
                pointer-events: none; // prevents dragenter event from firing and stopping the drag
                opacity: 0;
                border-radius: 50%;
              }
            }
          }
        }
        li {
          position: relative;
          background: white;
          min-height: 46px;
          line-height: 46px;
          border: 1px solid $grey-border;
          display: flex;
          align-items: center;
          justify-content: space-between;
          &:not(:first-child) {
            margin-top: -1px;
          }
          &:first-child {
            border-radius: 3px 3px 0 0;
          }
          &:last-child {
            border-radius: 0 0 3px 3px;
          }
          &:first-child:first-child {
            border-radius: 3px;
          }
          &.dashed {
            border-style: dashed;
          }
          > span {
            line-height: 46px;
            padding: 0 15px;
          }
          > a {
            display: block;
            color: $blue-0;
            text-decoration: underline;
            outline: 0;
            border-radius: 3px;
            line-height: 26px;
            padding: 5px 12px;
            margin: 5px;
            &:hover {
              color: $orange-2;
              text-decoration: none;
            }
            &:focus {
              color: $orange-2;
              text-decoration: none;
              box-shadow: 0 0 0 2px $orange-2;
            }
          }
          .right {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            padding: 5px;
          }
        }
      }
      ul.list + button,
      ul.list + .search,
      ul.list + .error {
        margin-top: 12px;
      }
      .preview {
        position: relative;
        padding: 10px;
        border: 1px dashed $grey-border;
        margin: 16px 40px 30px;
        min-height: 8px;
        &:after {
          content: 'preview';
          position: absolute;
          top: 5px;
          right: 5px;
          background: #eee;
          font-size: 14px;
          height: 18px;
          line-height: 20px;
          text-align: center;
          padding: 0 4px;
        }
      }
    }
    button.danger-red + p {
      margin-top: 20px;
    }
  }
}
