<div id="modal">
  <div class="overlay">
    <LinkTo @route={{parentRoute}}></LinkTo>
  </div>
  <div class="content">
    {{#if @loading}}
      <p>Loading ...</p>
    {{else}}
      <div class="box">
        {{yield}}
      </div>
    {{/if}}
  </div>
</div>