<Page @id="languages">
  <Nav />

  <section>
    <h1>Languages</h1>
    <FilterList
      @options={{@model.languages}}
      @label="nameEnglish"
      @linkRoute="secure.languages.language"
      @linkModel="id"
    />
  </section>
</Page>