<Page @id="leads">
  <Nav />
  <section>
    <h1>Leads</h1>

    <FilterList
      @options={{@model.leads}}
      @label="label"
      @linkRoute="secure.leads.lead"
      @linkModel="id"
    />
  </section>
</Page>