<Page::LeftNav @id="families">
  <section>
    <h1>Families</h1>

    <Spreadsheet
      @records={{@model}}
      @columns={{array
        (hash key='namePlural' label='Name')
      }}
      @linkRoute='secure.families.family'
    />
  </section>
</Page::LeftNav>