<Page::Content @id="families">
  <h1>Product families</h1>

  <Spreadsheet
    @records={{@model.families}}
    @linkRoute='secure.families.family'
    @createRoute='secure.families.create'
    @showCreateButton='true'
    @columns={{array
      (hash key='namePlural' label='Name')
      (hash key='productFamily.namePlural' label='Subset of')
    }}
  />
</Page::Content>