<Page::Content @id="families">
  <h1>Families</h1>

  <Spreadsheet
    @records={{@model.families}}
    @linkRoute='secure.families.family'
    @columns={{array
      (hash key='namePlural' label='Name')
    }}
  />
</Page::Content>