<Page::Content @id='families'>
  <h1>Product families</h1>

  <Spreadsheet
    @records={{@model.families}}
    @linkRoute='secure.families.family'
    @createRoute='secure.families.create'
    @showCreateButton='true'
    @columns={{array
      (hash key='namePlural' label='name')
      (hash key='subsetOf' label='subset of')
    }}
  />
</Page::Content>