#page.horizontal {
  display: flex;
  background: $blue-4;
  main.content {
    width: 100%;
    padding: 50px;
    > h1 {
      font-family: $extrabold;
      font-size: 26px;
      line-height: 100%;
      margin-bottom: 30px;
      color: white;
    }
    > p {
      font-family: $regular;
      font-size: 16px;
      line-height: 150%;
      color: white;
      a {
        color: white;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
      & + p {
        margin-top: 16px;
      }
    }
  }
}
