.input.belongs-to {
  input {
    color: black;
  }
  ul {
    max-height: 150px;
    background: #eee;
    overflow: hidden;
    &.hide {
      display: none;
    }
    li {
      line-height: 30px;
      margin: 0;
      padding: 0 17px;
      &.hide {
        display: none;
      }
      &.focus {
        background: $orange-3;
      }
    }
  }
}
