<Page::Content @id="features">
  <h1>Features</h1>

  <Spreadsheet
    @records={{@model.features}}
    @linkRoute="secure.features.feature"
    @columns={{array
      (hash key='name' label='Name')
    }}
  />
</Page::Content>