fieldset.many-to-many {
  // To avoid background colour on focus (lists are too long)
  &.primary {
    &.focus {
      background-color: white;
    }
  }

  .liner {
    > ul {
      > li {
        button.trash {
          width: 46px;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 3px;
          &:hover {
            [fill] {
              fill: $error-red;
            }
          }
          &:focus {
            color: $error-red;
            text-decoration: none;
            box-shadow: 0 0 0 2px $error-red;
          }
          svg {
            width: 15px;
            height: auto;
            [fill] {
              fill: #ccc;
            }
          }
        }
      }
    }
    > button,
    > .search {
      margin-top: 12px;
    }
  }
}
