<Page @id="products">
  <section>
    <h1>Products</h1>
    <FilterList
      @options={{@model.products}}
      @label="name"
      @linkRoute="products.product"
      @linkModel="id"
    />
  </section>
</Page>