<h2 class='ds px h2'>How did visitors find interflux.com in 2024?</h2>
<h3 class='ds px h3'>Via Google</h3>
<p>The chart below shows each time someone clicked a link in Google to a page on
  interflux.com.</p>
<p>The list below shows which keywords people searched in Google to find our
  website.</p>
<p>The list below shows which page of interflux.com Google suggested in their
  searches.</p>
<p>
  The help read the data above:<br />
  position – How high in Google our link was shown.<br />
  views – How often someone saw our link on Google.<br />
  clicks – How often someone clicked our link on Google.<br />
  CTR – The click through rate is the percentage of people saw our link and also
  clicked it.<br />
</p>
<h3 class='ds px h3'>Via Referrers</h3>
<p>
  A referrer is a website which has a link on their website to interflux.com.
  <br />
  A referral is each time a visitor of that other website, clicks the links and
  opens interflux.com.
</p>
<h3 class='ds px h3'>Unknown</h3>
<p>
  The chart below shows how much of our traffic comes from unknown locations
  (read: not from Google). Both browsers and websites block this sort of
  information. The only reason we know people come from Google is because that
  data is freely made available to us by Google.
</p>