.list {
  ul {
    width: 100%;
    background: #eee;
    padding: 10px;
    box-sizing: border-box;
    li {
      background: white;
      border-radius: 2px;
      display: flex;
      & + li {
        margin-top: 1px;
      }
      a {
        color: $paragraph-color;
        line-height: 30px;
        padding: 0 10px;
        width: 100%;
      }
    }
  }
}
