<Page @id="countries">
  <Nav />

  <section>
    <h1>Countries</h1>
    <FilterList
      @options={{@model.countries}}
      @label="nameEnglish"
      @linkRoute="secure.countries.country"
      @linkModel="id"
    />
  </section>
</Page>