<Page::Content @id='companies'>
  <h1>Companies</h1>

  <Spreadsheet
    @records={{@model.companies}}
    @linkRoute='secure.companies.company'
    @createRoute='secure.companies.create'
    @showCreateButton='true'
    @columns={{array
      (hash key='country.nameEnglish' label='Country')
      (hash key='businessName' label='Name')
      (hash key='order' label='Rank')
    }}
  />
</Page::Content>

{{outlet}}
