<Page::Content @id="companies">
  <h1>Companies</h1>

  <Spreadsheet
    @records={{@model.companies}}
    @linkRoute='secure.companies.company'
    @columns={{array
      (hash key='country.nameEnglish' label='Country')
      (hash key='businessName' label='Name')
    }}
  />
</Page::Content>