<Page::Content @id="companies">
  <h1>Companies</h1>

  <FilterList
    @options={{@model.companies}}
    @label="businessName"
    @linkRoute="secure.companies.company"
    @linkModel="id"
  />
</Page::Content>