<Page::Content @id='images'>
  <h1>Images</h1>

  <Spreadsheet
    @records={{@model.images}}
    @linkRoute='secure.images.image'
    @layout='image-tiles'
    @sortBy='category'
    @onLoadQuery={{this.query}}
    @columns={{array
      (hash key='thumbURL' isImage='true')
      (hash key='label')
      (hash key='category')
    }}
  />
</Page::Content>

{{outlet}}
