<Page::Content @id='permalinks'>
  <h1>Permalinks</h1>

  <Spreadsheet
    @records={{@model.permalinks}}
    @linkRoute='secure.permalinks.permalink'
    @createRoute='secure.permalinks.create'
    @showCreateButton='true'
    @columns={{array
      (hash key='slug' label='ID')
      (hash key='notes' label='notes')
    }}
  />
</Page::Content>

{{outlet}}