<Page::Content @id="uses">
  <h1>Processes</h1>

  <Spreadsheet
    @records={{@model.uses}}
    @linkRoute="secure.uses.use"
    @layout="image-rows"
    @columns={{array
      (hash key='iconURL' label='icon' isImage='true')
      (hash key='text' label='name')
      (hash key='rank' label='rank')
    }}
    @sortBy='rank'
  />
</Page::Content>