<div
  class="dot-dot-dot-menu"
  {{did-insert this.onInsert}}
>
  <Button
    @icon="ellipsis-vertical"
    @onClick={{fn this.onClick}}
  />
  {{#if this.showDropdown}}
    <div class="dropdown">
      <div class="offset">
        <div class="pane">
          {{yield}}
        </div>
      </div>
    </div>
  {{/if}}
</div>