fieldset.many-to-one {
  ul {
    li {
      background: white;
      line-height: 46px;
      border: 1px solid #dddddd;
      display: flex;
      justify-content: space-between;
      & + li {
        margin-top: -1px;
      }
      &:first-child {
        border-radius: 3px 3px 0 0;
      }
      &:last-child {
        border-radius: 0 0 3px 3px;
      }
      span {
        line-height: 46px;
        padding: 0 15px;
      }
      a {
        display: block;
        color: $blue-0;
        text-decoration: underline;
        outline: 0;
        border-radius: 3px;
        line-height: 46px;
        padding: 0 15px;
        &:hover {
          color: $orange-2;
          text-decoration: none;
        }
        &:focus {
          color: $orange-2;
          text-decoration: none;
          box-shadow: 0 0 0 2px $orange-2;
        }
      }
    }
  }
  .search {
    margin-top: 15px;
  }
  figure {
    height: 100px;
  }
  &.primary {
    &.focus {
      background-color: white;
    }
  }
}
