#modal #translation {
  .box {
    padding: 0;
  }
  .status {
    display: flex;
    padding: 40px 40px 24px;
    gap: 13px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px 40px;
    &.to-update {
      .left {
        flex-direction: column;
        align-items: flex-start;
      }
      .right {
        align-items: flex-end;
      }
    }
    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .error {
    margin: 0 40px 40px;
  }
  del {
    background-color: $red-1;
    border-left: 2px solid $red-1;
    border-right: 2px solid $red-1;
    color: white;
  }
  ins {
    background-color: #97cb00; // new leaf green
    border-left: 2px solid #97cb00;
    border-right: 2px solid #97cb00;
    text-decoration: none;
  }
  h3 {
    padding-bottom: 6px;
  }
}
