#modal #translation {
  .box {
    padding: 0;
  }
  .status {
    display: flex;
    padding: 40px 40px 24px;
    gap: 13px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    padding: 24px 40px 40px;
    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .error {
    margin: 0 40px 40px;
  }
}
