nav#user {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    .dropdown {
      display: flex;
    }
  }
  p {
    font-family: $regular;
    font-size: 15px;
    line-height: 100%;
    color: white;
    strong {
      font-family: $extrabold;
    }
  }
  .icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      width: 50%;
      height: auto;
      [fill] {
        fill: white;
      }
    }
  }
  .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 10px;
    flex-direction: column;
    align-items: flex-end;
    a,
    button {
      background: $blue-5;
      color: white;
      border: 0;
      outline: 0;
      align-items: flex-end;
      font-size: 15px;
      line-height: 24px;
      padding: 0 8px;
      color: white;
      background: $blue-5;
      box-shadow: 0 1px 4px rgba(black, 0.2);
      margin-top: 6px;
      transition: background 300ms $easeOutExpo;
      &:hover {
        background: $blue-0;
        &:first-child {
          &:before {
            border-bottom-color: $blue-0;
          }
        }
      }
      &:first-child {
        &:before {
          content: '';
          position: absolute;
          top: 0px;
          right: 9px;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid $blue-5;
          transition: border-bottom-color 300ms $easeOutExpo;
        }
      }
    }
  }
}
