<nav class='params'>
  <Form::Dropdown @options={{this.websites}} />
  <Form::Iterator @options={{this.years}} />
</nav>

<h2 class='ds px h2'>What did visitors do on interflux.com in 2024?</h2>
<h3 class='ds px h3'>1. Customers</h3>
<h3 class='ds px h3'>2. Interflux</h3>
<h3 class='ds px h3'>3. Robots</h3>