fieldset.boolean {
  background: white !important;
  .liner {
    position: relative;
    display: grid;
    grid-template-columns: 40px auto;
    grid-template-rows: auto;
    grid-template-areas:
      'header header'
      'left right'
      'footer footer';
  }
  .field-header {
    grid-area: header;
  }
  .checkbox {
    grid-area: left;
    position: relative;
    margin-top: 8px;
    .icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      border-radius: 2px;
      &.saving {
        background: $green-1;
        background-image: url('#{$cdn}/images/admin/diagonals-green.svg');
        background-size: 30px 30px;
        animation: button-loading 1200ms linear infinite;
        cursor: wait;
        @keyframes button-loading {
          from {
            background-position: 0;
          }
          to {
            background-position: -30px -30px;
          }
        }
      }
      &.error {
        background: white;
        cursor: not-allowed;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .content {
    grid-area: right;
    font-family: $regular;
    font-size: 16px;
    line-height: 24px;
    user-select: auto;
    cursor: text;
    margin: 0;
    padding: 0;
    margin-top: 8px;
  }
  [role='alert'].error {
    grid-area: footer;
    margin-top: 12px;
    > a {
      background: transparent !important;
      color: white !important;
      &:focus {
        box-shadow: $red-1 0 0 0 1px, 0 0 0 3px white !important;
      }
    }
  }
}
