fieldset.boolean {
  background: white !important;
  .liner {
    position: relative;
  }
  .liner > label {
    font-family: $regular;
    font-size: 16px;
    line-height: 24px;
    user-select: auto;
    cursor: text;
    margin: 0;
    padding: 0;
    padding-left: calc(24px + 20px);
  }
  .checkbox {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .icon.saving {
    background: $green-1;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-image: url('#{$cdn}/images/admin/diagonals-green.svg');
    background-size: 30px 30px;
    animation: button-loading 1200ms linear infinite;
    cursor: wait;
    @keyframes button-loading {
      from {
        background-position: 0;
      }
      to {
        background-position: -30px -30px;
      }
    }
  }
  p.error {
    background: $red-1;
    color: white;
    padding: 10px;
    border-radius: 2px;
    margin-top: 12px;
    > a {
      background: transparent !important;
      color: white !important;
      &:focus {
        box-shadow: $red-1 0 0 0 1px, 0 0 0 3px white !important;
      }
    }
    .icon {
      position: absolute;
      background: white;
      height: 24px;
      width: 24px;
      top: 0;
      left: 0;
      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
