<nav id="user">
  <p>Hello <b>{userFirstName}</b></p>
  <Svg::UserCircle />

  <!-- <Button::Action
    @action={{this.auth.reset}}
    @text="Log out"
    @size="small"
    @style="blue-4"
  /> -->
</nav>