// The <Form::Textarea> is nearly identical to the <Form::Input> and thus inherits all its styles.
// See the <Form::Input> CSS, except for these overwrites:

.textarea {
  &.primary {
    height: auto;
    &.disabled {
      textarea {
        cursor: no-drop;
      }
    }
    .action {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      box-sizing: border-box;
      margin-top: -60px;
      button {
        width: auto;
      }
    }
    .wrapper {
      position: relative;
    }
    p.pusher {
      opacity: 0;
      padding: 11px 15px;
      line-height: 150%;
      min-height: 46px;
      box-sizing: border-box;
      position: relative;
      z-index: 1;
      // uncomment below when debugging
      // color: red;
      // opacity: 1;
      // z-index: 3;
    }
    textarea {
      line-height: 150%;
      padding: 11px 15px;
      height: auto;
      display: block;
      resize: vertical;
      min-height: 46px;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
      height: 100%;
      resize: none;
      overflow: hidden;
    }
  }
}
