// The <Form::Textarea> is nearly identical to the <Form::Input> and thus inherits all its styles.
// See the <Form::Input> CSS, except for these overwrites:

.textarea {
  &.primary {
    height: auto;

    &.disabled {
      [role='textbox'],
      textarea {
        cursor: no-drop;
      }
    }

    .action {
      position: relative;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      box-sizing: border-box;
      margin-top: -60px;
      button {
        width: auto;
      }
    }

    textarea,
    [role='textbox'] {
      line-height: 150%;
      padding: 11px 15px;
      height: auto;
      display: block;
      resize: vertical;
      min-height: 46px;
    }
  }
}
