<Page @id="images">
  <section>
    <h1>Images</h1>

    <List
      @options={{@model.images}}
      @label="cdnPath"
      @linkRoute="images.image"
      @linkModel="id"
    />
  </section>
</Page>