<Page @id="images">
  <section id="search">
    <h1>Images</h1>

    <List
      @options={{model.images}}
      @label="cdnPath"
      @linkRoute="images.image"
      @linkModel="id"
    />
  </section>
</Page>