<Page @id="help">
  <section class="center">
    <p>Do you need help?</p>
    <p>Do have ideas for improvement?</p>
    <p>Talk to Jan!</p>
    <Button::Url
      @href="mailto:j.werkhoven@interflux.com"
      @text="j.werkhoven@interflux.com"
      @size="medium"
      @style="blue-3"
    />
    <Button::Route
      @route={{@model.backRoute}}
      @text="Back"
      @size="small"
      @style="blue-3"
    />
  </section>
</Page>