<Page::Content @id="people">
  <h1>Humans :)</h1>

  <Spreadsheet
    @records={{@model.people}}
    @linkRoute="secure.people.person"
    @columns={{array
      (hash key='fullName' label="Name")
      (hash key='memberOf' label='Member of')
    }}
  />
</Page::Content>