<Page @id="people">
  <Nav />

  <section>
    <h1>People</h1>
    <FilterList
      @options={{@model.people}}
      @label="fullName"
      @linkRoute="secure.people.person"
      @linkModel="id"
    />
  </section>
</Page>