<nav
  id="resources"
  class="{{expandedClass}}"
  {{did-insert this.handleInsert}}
>
  <button onclick={{this.handleHamburgerClick}}>
    <div class="icon">
      <Svg::Hamburger />
    </div>
    <h1>Interflux</h1>
  </button>

  <LinkTo @route="secure.products">
    <div class="icon">
      <Svg::PrescriptionBottle />
    </div>
    <p>Products</p>
  </LinkTo>

  <LinkTo @route="secure.families">
    <div class="icon">
      <Svg::Flask />
    </div>
    <p>Families</p>
  </LinkTo>

  <LinkTo @route="secure.processes">
    <div class="icon">
      <Svg::Microchip />
    </div>
    <p>Processes</p>
  </LinkTo>

  <LinkTo @route="secure.features">
    <div class="icon">
      <Svg::Medal />
    </div>
    <p>Features</p>
  </LinkTo>

  <LinkTo @route="secure.documents">
    <div class="icon">
      <Svg::Document />
    </div>
    <p>Documents</p>
  </LinkTo>

  <LinkTo @route="secure.images">
    <div class="icon">
      <Svg::Camera />
    </div>
    <p>Images</p>
  </LinkTo>

  <LinkTo @route="secure.videos">
    <div class="icon">
      <Svg::Film />
    </div>
    <p>Videos</p>
  </LinkTo>

  <LinkTo @route="secure.companies">
    <div class="icon">
      <Svg::Building />
    </div>
    <p>Companies</p>
  </LinkTo>

  <LinkTo @route="secure.people">
    <div class="icon">
      <Svg::StreetView />
    </div>
    <p>People</p>
  </LinkTo>

  <LinkTo @route="secure.orders">
    <div class="icon">
      <Svg::Truck />
    </div>
    <p>Orders</p>
  </LinkTo>

  <LinkTo @route="secure.leads">
    <div class="icon">
      <Svg::Seedling />
    </div>
    <p>Leads</p>
  </LinkTo>
</nav>