<Page @id='secure-error'>
  <Section>
    <p>Authentication failed.</p>
    <Button
      @route='login'
      @text='Return to login'
      @theme='tertiary'
      @icon='chevron-left'
    />
  </Section>
</Page>