// These button styles are inherited by all buttons.
// Reuse these classes as much as possible.
// Resist styling buttons per component, instead extend this base.

a,
button {
  &.button {
    position: relative;
    display: block;
    background: none;
    border: 0;
    outline: 0 !important;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;

    // Do not set the following rules up here:
    // font-family: 'Lato-Black';
    // font-size: 18px;
    // line-height: 48px;
    // padding: 0 28px;
    // border-radius: 4px;

    &.big {
      font-family: $bold;
      font-size: 18px;
      line-height: 48px;
      padding: 0 28px;
      border-radius: 4px;
      // span {
      //   margin: 0 4px;
      // }
    }

    &.medium {
      font-family: $regular;
      font-size: 15px;
      line-height: 40px;
      padding: 0 20px;
      border-radius: 3px;
      // span {
      //   margin: 0 4px;
      // }
    }

    &.small {
      padding: 0 6px;
      line-height: 24px;
      font-family: $regular;
      font-size: 14px;
      border-radius: 2px;
      // span {
      //   margin: 0 4px;
      // }
    }

    &.blue-2 {
      background: $blue-2;
      color: white;
      &.active {
        background: $orange-2;
      }
      &:hover {
        background: $orange-1;
      }
    }

    &.blue-3 {
      background: $blue-3;
      color: white;
      &.active {
        background: $orange-3;
      }
      &:hover {
        background: $orange-2;
      }
    }

    &.blue-4 {
      background: $blue-4;
      color: white;
      &.active {
        background: $orange-4;
      }
      &:hover {
        background: $orange-3;
      }
    }

    &.orange-3 {
      background: $orange-3;
      color: white;
      &.active {
        background: $orange-5;
      }
      &:hover {
        background: $orange-4;
      }
    }

    &.white {
      background: white;
      &:hover {
        background: $grey-1;
      }
    }

    &.green {
      background: $green-1;
      color: white;
      &:hover {
        background: $green-2;
      }
    }

    &.grey-border {
      border: 1px solid $grey-1;
      &:hover {
        border-color: $grey-2;
      }
    }

    &.link {
      background: none;
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        background: none;
      }
      &.grey {
        color: $grey-3;
        &:hover {
          color: $blue-0;
        }
      }
    }

    &[disabled] {
      cursor: not-allowed;
      background: $grey-1;
      color: $grey-5;
      &:hover {
        background: $grey-1;
      }
    }

    &.tertiary {
      font-size: 16px;
      color: white;
      border: 2px solid $blue-4;
      border-radius: 2px;
      background: $blue-5;
      line-height: 34px;
      height: 34px;
      padding: 0 12px;
      &:hover {
        border-color: $blue-0;
        background: $blue-4;
      }
      &:focus {
        border-color: white;
        background: $blue-4;
      }
      svg {
        height: 13px;
        width: auto;
        [fill] {
          fill: white;
        }
      }
    }

    &.chevron-right {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      svg + span {
        margin-right: 10px;
      }
    }

    &.chevron-left {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }
}
