main.content {
  &.blue {
    background-color: $blue-4;
    padding: 50px;
  }

  &.white {
    background-color: white;
    padding: 0;

    // Related to <Listview>
    // HACK: to hide the user menu
    // TODO: find better way... page service?
    z-index: 2;
    .list-view {
      tr {
        td,
        th {
          flex: auto;
          &:not(:first-child) {
            width: 33%;
          }
          &:first-child {
            flex-shrink: 0;
            width: 80px;
          }
        }
      }
    }
  }
}
