#page.center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $blue-4;
  p {
    text-align: center;
    color: white;
  }
  section {
    .liner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
