.list-view {
  background-color: $grey-0;
  min-height: 100vh;
  display: flex;
  padding: 30px;
  gap: 12px;
  height: 100%;
  box-sizing: border-box;
  h1 {
    font-size: 20px;
    font-family: $bold;
    color: $grey-7;
    margin-bottom: 30px;
    line-height: 100%;
  }
  aside {
    width: 180px;
    flex-shrink: 0;
    .sticky {
      position: sticky;
      top: 12px;
      gap: 12px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  }
  .options,
  .checkboxes {
    display: flex;
    flex-direction: column;
    button {
      position: relative;
      background-color: white;
      border: 1px solid $grey-1;
      line-height: 33px;
      display: flex;
      align-items: center;
      padding: 0;
      color: $grey-7;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 0 1px $blue-0;
        border-color: $blue-0;
        z-index: 1;
      }
      &:first-child {
        border-radius: 3px 3px 0 0;
      }
      &:last-child {
        border-radius: 0 0 3px 3px;
      }
      &:first-child:last-child {
        border-radius: 3px;
      }
      & + button {
        margin-top: -1px;
      }
      svg {
        margin: 0 10px;
      }
    }
  }
  .checkboxes {
    svg {
      flex-shrink: 0;
    }
    span {
      width: 100%;
      text-align: left;
    }
    .tag {
      margin: 0 10px;
      flex-shrink: 0;
      .p {
        font-size: 15px;
        font-family: $semibold;
        line-height: 20px;
      }
      .bg .word:after {
        top: 0px;
        bottom: 0px;
        border-radius: 2px;
      }
    }
  }
  main {
    margin-top: 40px;
    width: 100%;
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      border-top: 10px solid $grey-0;
      background-color: $grey-0;
      tr {
        border-radius: 3px 3px 0 0;
        position: relative;
        display: flex;
        height: 33px;
        border: 1px solid $grey-1;
        border-bottom-width: 3px;
        background-color: white;
        th {
          display: flex;
          flex: 1;
          font-size: 15px;
          align-items: center;
          padding: 0 12px;
          & + th {
            border-left: 1px solid $grey-1;
          }
        }
      }
    }
    tbody {
      position: relative;
      z-index: 0;
      tr {
        position: relative;
        display: flex;
        border: 1px solid $grey-1;
        background-color: white;
        cursor: pointer;
        &:hover {
          box-shadow: inset 0 0 0 1px $blue-0;
          border-color: $blue-0;
          z-index: 1;
        }
        &:last-child {
          border-radius: 0 0 3px 3px;
        }
        &:first-child:last-child {
          border-radius: 0;
        }
        & + tr {
          margin-top: -1px;
        }
        td {
          display: flex;
          flex: 1;
          font-size: 15px;
          align-items: center;
          padding: 0 12px;
          min-height: 33px;
          overflow: hidden;
          align-items: flex-start;
          max-width: 400px;
          p,
          .tag {
            margin: 6px 0;
          }
        }
      }
    }
    tr.no-data {
      height: 400px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      &:hover {
        cursor: auto;
        box-shadow: none;
        border-color: $grey-1;
      }
    }
  }
}
