<div class='language-tag'>
  <div class='idle'>
    <p>{{@language.locale}}</p>
  </div>

  <div class='hover'>
    <p>{{@language.nameEnglish}}</p>
    <Flag @country={{@language.country}} />
  </div>
</div>