.input.checkbox {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;

  &.true {
    > div {
      background: #ff9d4d;
      svg {
        opacity: 1;
      }
    }
  }
  &.pending {
    > div {
      opacity: 0.9;
      background: repeating-linear-gradient(
        -45deg,
        $green-1,
        $green-1 8px,
        $green-2 8px,
        $green-2 16px
      );
      animation: slide 600ms linear infinite;
      @keyframes slide {
        from {
          background-position: 0;
        }
        to {
          background-position: 24px;
        }
      }
    }
  }

  > div {
    background: #ddd;
    height: 24px;
    width: 24px;
    margin: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    > svg {
      opacity: 0;
    }
  }

  > p {
  }
}
