// The <Search> is nearly identical to the <Form::Input> and thus inherits all its styles.
// See the <Form::Input> CSS, except for these overwrites:

.search {
  &.primary {
    position: relative;
    z-index: 2; // to make the results be on top of elements at z-index: 1
    .results {
      padding-top: 1px;
      background: $grey-2;
      button {
        background: white;
        color: $grey-7;
        border: 0;
        display: block;
        width: 100%;
        text-align: left;
        font-size: 15px;
        line-height: 36px;
        padding: 0 15px;
        outline: 0;
        &.highlight {
          background: $blue-0;
          box-shadow: $blue-0 0 0 0 1px;
          color: white;
        }
        & + button {
          margin-top: 1px;
        }
      }
      p {
        background: #eee;
        color: $grey-7;
        line-height: 28px;
        font-size: 15px;
        padding: 0 15px;
      }
      button + p {
        margin-top: 1px;
      }
    }
    p.searching {
      font-size: 15px;
      line-height: 36px;
      padding: 0 15px;
      color: white;
      background: $blue-0;
      background-color: $blue-0;
      background-image: url('#{$cdn}/images/admin/diagonals-blue.svg');
      background-size: 31px 31px;
      animation: button-loading 1400ms linear infinite;
      box-shadow: $blue-0 0 0 0 1px;
    }
  }
}
