<div class="search">
  <Input
   type="text"
   icon="search"
   placeholder={placeholder}
   value={query}
   onChange={this.onChange}
   onKeyDown={this.onKeyDown}
   onBlur={this.onBlur}
   selectOnFocus={true}
   disabled={disabled}
   validation={validation}
   testId={testId}
  />
</div>
