{{#with @model.use as |use|}}
  <Modal @id="use-create">
    <h1>Create new process</h1>

    <Field::String
      @label='Choose a name'
      @record={{use}}
      @attribute='text'
      @beforeSave={{this.beforeSave}}
      @afterSave={{this.afterSave}}
    />
  </Modal>
{{/with}}