<Page @id="documents">
  <Nav />

  <section>
    <h1>Documents</h1>

    <FilterList
      @options={{@model.documents}}
      @label="path"
      @linkRoute="secure.documents.document"
      @linkModel="id"
    />
  </section>
</Page>