<Page::Content @id='documents'>
  <h1>Documents</h1>

  <Spreadsheet
    @records={{@model.documents}}
    @linkRoute='secure.documents.document'
    @createRoute='secure.documents.create'
    @showCreateButton='true'
    @columns={{array
      (hash key='category.name' label='Type')
      (hash key='name' label='Name')
      (hash key='public' label='Online')
    }}
  />
</Page::Content>

{{outlet}}