<Page::Content @id='documents'>
  <h1>Documents</h1>

  <Spreadsheet
    @records={{@model.documents}}
    @linkRoute='secure.documents.document'
    @columns={{array
      (hash key='name' label='Name')
      (hash key='category.name' label='Category')
      (hash key='public' label='Shown on website')
    }}
  />
</Page::Content>

{{outlet}}
