fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  &.focus {
    background-color: rgba($blue-0, 0.1);
  }
  label {
    font-family: $bold;
    font-size: 15px;
    padding: 0 15px;
    color: #444444;
    margin-bottom: 6px;
  }
  label + p {
    font-family: $regular;
    font-size: 15px;
    padding: 0 15px;
    color: #444444;
    margin-bottom: 4px;
  }
  & + fieldset {
    margin-top: 2px;
  }
  &.primary {
    input {
      font-size: 16px;
      line-height: 44px;
      padding: 0 15px;
      border: 1px solid #ddd;
      border-radius: 3px;
      max-width: 100%;
      transition: border-color 300ms $easeOutExpo;
      outline: 0;
      box-shadow: 0;
      color: $paragraph-color-1;
      width: 100%;
      box-sizing: border-box;
      &:hover {
        border-color: $blue-0;
      }
      &:focus {
        border-color: $blue-0;
        color: $paragraph-color-1;
      }
    }
  }
  &.secondary {
    // TODO
  }
  &.tertiary {
    input {
      font-size: 16px;
      line-height: 34px;
      padding: 0 15px;
      color: white;
      background: $blue-4;
      border: 2px solid $blue-5;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(black, 0.05);
      outline: 0;
      width: 100%;
      max-width: 100%;
      box-sizing: border-box;
      transition: border-color 300ms $easeOutExpo;
      text-overflow: ellipsis;
      @include placeholder {
        color: rgba(white, 0.5);
      }
      &:hover {
        border-color: $blue-0;
      }
      &:focus {
        border-color: white;
      }
      &[disabled] {
        border-color: $blue-5;
        cursor: not-allowed;
      }
    }
  }
  p + input {
    margin-top: 5px;
  }
}
