<Page::Content @id='videos'>
  <h1>Videos</h1>

  <Spreadsheet
    @records={{@model.videos}}
    @linkRoute='secure.videos.video'
    @layout='image-tiles'
    @sortBy='titleAdmin'
    @onLoadQuery={{this.query}}
    @columns={{array
      (hash key='posterUrl' isImage='true')
      (hash key='titleAdmin')
      (hash key='category')
    }}
  />
</Page::Content>