<Page::Content @id='videos'>
  <h1>Videos</h1>

  <Spreadsheet
    @records={{@model.videos}}
    @linkRoute='secure.videos.video'
    @sortBy='titleAdmin'
    @onLoadQuery={{this.query}}
    @columns={{array
      (hash key='category' label='Category')
      (hash key='titleAdmin' label='Title')
    }}
  />
</Page::Content>

{{outlet}}
