<Page::Content @id="secure-index">
  <p>Hello {{this.auth.user.person.firstName}}</p>
  <p>Here, in <strong>Interflux Admin</strong> you can find and edit many of the Interflux resources found on our website.</p>
</Page::Content>