<Page @id="help">
  <section class="center">
    <p>Need help?</p>
    <p>Request change?</p>
    <p>Suggest idea?</p>
    <p>Ask Jan!</p>
    <Button::Url
      @href="mailto:j.werkhoven@interflux.com"
      @text="j.werkhoven@interflux.com"
      @size="medium"
      @style="blue-3"
    />
    <Button::Route
      @route={{@model.backRoute}}
      @text="Back"
      @size="small"
      @style="blue-2"
    />
  </section>
</Page>