// The <Textarea> component is nearly identical to the <Input> and thus inherits all styles from
// <Input>, except for these overwrites:

.textarea {
  &.primary {
    height: auto;

    textarea,
    [role='textbox'] {
      line-height: 150%;
      padding: 11px 46px 11px 15px;
      height: auto;
      display: block;
      resize: vertical;
    }
  }
}
