<Error>
  <p>
    Sorry, something didn't quite go as planned. Nobody should ever see this
    message. Please
    <strong>notify Jan</strong>
    the steps you've taken to see this error. Thanks!
  </p>

  <Button @text='Report error' @onClick={{this.openLiveChat}} />
</Error>