<Modal @id="preferences">
  <h1>Preferences</h1>

  <h2>Account</h2>

  <Field::OneToMany
    @label='User'
    @baseRecord={{this.auth.user}}
    @baseLabel='person'
    @targetModel="person"
    @targetFilter="fullName"
    @targetLabel="fullName"
    @targetRoute='secure.people.person'
    @minKeyStrokes='1'
    @disabled="true"
  />

  <Field::String
    @label='Email'
    @record={{this.auth.user}}
    @attribute='email'
    @disabled='true'
  />

  <Field::String
    @label='Change password'
    @legend='Minimum 8 characters. To improve security: Use a unique password for every website / app to improve security. Long passwords are more secure than short complex ones. If you can remember your own password, it is probably not that secure. Consider password managers. Ask Jan? :)'
    @record={{this.auth.user}}
    @attribute='password'
  />
</Modal>