main.page {
  display: flex;
  >nav {
    width: 30px;
    display: flex;
    flex-direction: column;
    background: $interflux-blue;
    >a {
      width: 30px;
      height: 30px;
      >svg {
        width: 100%;
        height: auto;
        [fill] {
          fill: white;
        }
      }
    }
  }
}
