main.page {
  display: flex;
  min-height: 100vh;
  background: $blue-4;
  > nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $blue-5;
    padding: 10px;
    a {
      & + a {
        margin-top: 10px;
      }
    }
  }
  > section {
    width: 100%;
    padding: 30px;
    > h1 {
      font-size: 30px;
      color: white;
      margin-bottom: 30px;
    }
  }
}
