<main
  id="{{@id}}"
  class="page {{if modal.active 'no-scroll' 'scrollable'}}"
  style="top: -{{modal.scroll}}px"
>
  <nav>
    <Button::Route
      @route="products"
      @text="Products"
      @size="small"
      @style="blue-4"
    />
    <Button::Route
      @route="images"
      @text="Images"
      @size="small"
      @style="blue-4"
    />
    <Button::Route
      @route="documents"
      @text="Documents"
      @size="small"
      @style="blue-4"
    />
    <Button::Route
      @route="companies"
      @text="Companies"
      @size="small"
      @style="blue-4"
    />
    <Button::Route
      @route="people"
      @text="People"
      @size="small"
      @style="blue-4"
    />
    <hr>
    <Button::Route
      @route="leads"
      @text="Leads"
      @size="small"
      @style="blue-4"
    />
    <hr>
    <Button::Route
      @route="countries"
      @text="Countries"
      @size="small"
      @style="blue-4"
    />
    <Button::Route
      @route="languages"
      @text="Languages"
      @size="small"
      @style="blue-4"
    />
    <hr>
  </nav>
  {{yield}}
</main>