nav#resources {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $blue-5;
  background-image: url('/assets/images/terrain-outline-pattern.svg');
  background-position: center right;
  flex-shrink: 0;
  overflow: hidden;
  transition: width 300ms $easeOutExpo;
  &.expanded {
    width: 180px;
  }
  &.collapsed {
    width: 50px;
  }
  a,
  button {
    display: flex;
    align-items: center;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    text-align: left;
    cursor: pointer;
    border: 1px solid $blue-4;
    border-left: 0;
    border-right: 0;
    margin-top: -1px;
    transition: all 300ms $easeOutExpo;
    &:hover {
      background: linear-gradient(to right, rgba($blue-4, 0), $blue-4);
    }
    &.active {
      background-color: $blue-4;
    }
    .icon {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      margin-right: 6px;
      svg {
        width: 100%;
        height: 100%;
        max-width: 50%;
        max-height: 50%;
        [fill] {
          fill: white;
        }
      }
    }
    h1,
    p {
      width: 130px;
      color: white;
    }
    h1 {
      font-family: $extrabold;
      font-size: 19px;
    }
    p {
      font-size: 15px;
    }
  }
}
