fieldset {
  &.primary {
    border: 0;
    padding: 0;
    margin: 0;
    transition: all 300ms $easeOutExpo;
    label {
      display: inline-block;
      font-family: $bold;
      font-size: 15px;
      padding: 0 15px;
      color: #444444;
      margin-bottom: 6px;
      cursor: pointer;
      user-select: none;
    }
    label + p {
      font-family: $regular;
      font-size: 15px;
      padding: 0 15px;
      color: #444444;
      margin-bottom: 4px;
    }
    & + fieldset {
      margin-top: 2px;
    }
    &.focus {
      background-color: rgba($blue-0, 0.1);
      position: relative;
      z-index: 1;
    }
    &.error {
      &.focus {
        background-color: rgba($error-red, 0.1);
      }
    }
    &.warning {
      &.focus {
        background-color: rgba($error-red, 0.1);
      }
    }
    &.dirty,
    &.saving {
      &.focus {
        background-color: rgba($green-1, 0.1);
      }
    }

    &.boolean {
      background: white !important;
      .liner {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
      label {
        font-family: $regular;
        font-size: 16px;
        line-height: 24px;
        user-select: auto;
        cursor: text;
      }
      .checkbox {
        flex-shrink: 0;
      }
    }
  }
  p + input {
    margin-top: 5px;
  }
}
