fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  transition: all 300ms $easeOutExpo;

  .field-header {
    display: flex;
    flex-direction: column;
    & + * {
      margin-top: 6px;
    }
    & + .pills {
      margin-top: 12px;
    }
    .label-buttons {
      display: flex;
      align-items: baseline;
      gap: 6px;
      justify-content: space-between;
      label {
        font-family: $bold;
        font-size: 16px;
        line-height: 150%;
        color: $grey-7;
      }
      .right {
        display: flex;
        align-items: center;
        gap: 6px;
      }
      button {
        background: none;
        border: 0;
        padding: 0;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        filter: grayscale(0);
        &:hover,
        &:focus,
        &.active {
          &.tooltip,
          &.lock {
            [fill] {
              fill: $blue-0;
            }
          }
          &.error {
            [fill] {
              fill: $orange-3;
            }
          }
        }
        &.error {
          svg {
            [fill] {
              fill: $red-1;
            }
          }
        }
      }
      svg {
        height: auto;
        [fill] {
          fill: $grey-4;
        }
      }
      svg.tooltip {
        width: 18px;
      }
      svg.lock {
        width: 17px;
      }
      svg.warning {
        width: 20px;
        transform: translateY(1px);
      }
    }
    .tag {
      transform: translate(3px);
      margin: 8px 0 12px;
      align-self: flex-end;
    }
  }

  & + fieldset {
    margin-top: 1px;
  }

  &.focus {
    background-color: rgba($blue-0, 0.1);
    position: relative;
    z-index: 1;
  }

  &.error {
    background-color: rgba($red-1, 0.1);
  }

  &.warning {
    &.focus {
      background-color: rgba($red-1, 0.1);
    }
  }

  &.dirty,
  &.saving {
    &.focus {
      background-color: rgba($green-1, 0.1);
    }
  }

  p + input {
    margin-top: 5px;
  }
}
