fieldset {
  &.primary {
    border: 0;
    padding: 0;
    margin: 0;
    transition: all 300ms $easeOutExpo;
    label {
      display: inline-block;
      font-family: $bold;
      font-size: 15px;
      line-height: 150%;
      color: #444444;
      margin-bottom: 10px;
      cursor: pointer;
      user-select: none;
      letter-spacing: 0.2px;
    }
    legend {
      font-family: $regular;
      font-size: 16px;
      line-height: 150%;
      color: $paragraph-color-1;
      margin-bottom: 16px;
    }
    & + fieldset {
      margin-top: 2px;
    }
    &.focus {
      background-color: rgba($blue-0, 0.1);
      position: relative;
      z-index: 1;
    }
    &.error {
      &.focus {
        background-color: rgba($error-red, 0.1);
      }
    }
    &.warning {
      &.focus {
        background-color: rgba($error-red, 0.1);
      }
    }
    &.dirty,
    &.saving {
      &.focus {
        background-color: rgba($green-1, 0.1);
      }
    }
  }
  p + input {
    margin-top: 5px;
  }
}
