fieldset {
  border: 0;
  padding: 0;
  margin: 0;

  > div {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      'label tooltip status'
      'input input input';

    label {
      grid-area: label;
    }
    input,
    textarea,
    .input {
      grid-area: input;
    }
    input {
      font-size: 16px;
      line-height: 44px;
      padding: 0 17px;
      border: 1px solid #ddd;
      border-radius: 3px;
      margin-top: 5px;
      max-width: 100%;
      transition: border-color 300ms $easeOutExpo;
      outline: 0;
      box-shadow: 0;
      color: $paragraph-color-1;
      &:hover {
        border-color: #bbb;
      }
      &:focus {
        border-color: $blue-0;
        color: $blue-0;
      }
    }
    textarea {
      font-size: 16px;
      line-height: 150%;
      padding: 15px 17px;
      border: 1px solid #ddd;
      border-radius: 3px;
      margin-top: 5px;
      font-family: $regular;
      max-width: 100%;
      min-width: 100%;
      transition: border-color 300ms $easeOutExpo;
      outline: 0;
      box-shadow: 0;
      color: $paragraph-color-1;
      box-sizing: border-box;
      &:hover {
        border-color: #bbb;
      }
      &:focus {
        border-color: $blue-0;
      }
    }
  }

  & + fieldset {
    margin-top: 14px;
  }
}
